Package: remote-access
Version: 1.0.0
Architecture: amd64
Maintainer: TUBITAK ULAKBIM
Installed-Size: 49
Depends: python3 (>= 3)
Section: unknown
Priority: optional
Homepage: http://www.liderahenk.org.tr
Description: LiderAhenk ahenk-remote-access application
 Long Desc
